/* ✅ Глобальные настройки */
* {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
body {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden; 
  isolation: isolate;
}

.App {
    margin: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    text-align: center;
    flex-direction: column;
    background: #000000;
    color: white;
    font-family: Muller;
    font-size: 2.2vh ;
}

.App p{
    margin: 0;
}

.ONEXs_Window{
    width: 100%;
    height: 90%;
    position: fixed;
    flex-direction: column;
    top: 0;
    color: white;
    z-index: 1001;
    animation: fade-in 0.3s forwards;
}

.Header{
    height: 7.5%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.HeaderLogoContainer{
    height: 100%;
    margin-left: 2.5vh;
    margin-top: 0.5vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.HeaderButtonsContainer{
    height: 100%;
    margin-right: 1.7vh;
    margin-top: 0.5vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.headerlogo {
    height: 60%;
    margin: 0vh; 
}

.headerConnectWalletConnected { 
    
    height: 55%;
    margin: 1.6vh 1vh 1vh 0.5vh; 

}

.headerButtonPartners { 
    
    height: 55%;
    margin: 1.6vh 0.5vh 1vh 1vh; 

}

.mainOnAmbasProgramPageContainer {

    height: 89.5%;
    width: 100%;
    margin-top: 2.5vh;
    overflow: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    background: url('../assets/backgroundBorder.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4.22vh 4.22vh 0 0;

}

.info-OnAmbasProgram-block {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    align-self: start;
    justify-content: flex-start;
    background: rgba(32, 32, 32, 0.5);
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4.22vh;
    position: relative;
    width: 95%;
    left: 2.5%;
    height: 27.9%;
    margin-top: 1vh;
}

.info-OnAmbasProgram-nameText {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    overflow: visible;
}

.info-OnAmbasProgram-nameText h2 {
    font-size: 3.2vh;
    margin: 0;
    font-family: "REDOB trial", sans-serif; /* ✅ Используем кастомный шрифт */
    white-space: nowrap; /* ✅ Запрещаем перенос текста */
    color: #FFFFFF;
}

.info-OnAmbasProgram-nameText p {
    font-family: MullerLight;
    font-size: 1.5vh; /*clamp(1.65vh, 2.6vw, 2.1vh)*/
}

.partner-terms {
    position: relative;
    display: flex;
    align-items: center;
    align-self: start;
    justify-content: center;
  
    background: rgba(32, 32, 32, 0.5);
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4.22vh;
  
    width: 95%;
    left: 2.5%;
    height: 20.9%;
    margin-top: 1.2vh;
}

.info-OnAmbasProgram-nameText2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    overflow: visible;
}

.info-OnAmbasProgram-nameText2 h2 {
    font-size: 1.9vh;
    margin: 0;
    font-family: "REDOB trial", sans-serif; /* ✅ Используем кастомный шрифт */
    white-space: nowrap; /* ✅ Запрещаем перенос текста */
    color: #FFFFFF;
}

.info-OnAmbasProgram-nameText2 p {
    font-family: MullerLight;
    font-size: 1.5vh; /*clamp(1.65vh, 2.6vw, 2.1vh)*/
}

.info-OnAmbasProgram-section-title {
    width: 90%;
    margin-left: 2vh;
    height: 16.3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.OnAmbasProgram-section-infoBlocks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    width: 100%;
    height: 24.8%;
    gap: 1vh;
    margin-top: -0.7vh;
}

.earnTON-block {
    background: rgba(200, 200, 200, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.1vh;
    width: 34.7%;
    height: 100%; 
    gap: 0.2vh;

  
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
  
  .earnTON-block-MainText2 {
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.45vh;
    margin-top: 0.5vh;
    font-size: 1.4vh;
    font-family: MullerMedium;
    color: #000000
}
  
  .earnTON-block-Description2 {
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.45vh;
    margin-bottom: 0.3vh;
    font-size: 1.4vh;
    font-family: MullerBold;
    color: #FFFFFF
}

.earnTON-block img {
    width: 8%;
    margin-left: 0.3vh;
    margin-bottom: 0.12vh;
    overflow: hidden;
}

.earnONEX-block {
    background: rgba(200, 200, 200, 0.3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.1vh;
    width: 36.9%;
    height: 100%; 
  
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
  
  .earnONEX-block-MainText2 {
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.45vh;
    margin-top: 0.5vh;
    font-size: 1.4vh;
    font-family: MullerMedium;
    color: #000000
}
  
  .earnONEX-block-Description2 {
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 1.45vh;
    margin-bottom: 0.3vh;
    font-size: 1.4vh;
    font-family: MullerBold;
    color: #FFFFFF
}

.earnONEX-block img {
    width: 8%;
    margin-left: 0.3vh;
    margin-bottom: 0.12vh;
    overflow: hidden;
}

.invite-button-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    width: 82.5%;
    height: 21.9%;
}

.invite-button {
    background-color: rgba(255, 255, 255, 0.15);
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 1);

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.7vh;
    font-family: "MullerExtraBold", sans-serif;
    border-radius: 1vh;
}

.text-friends-counter {
    font-size: 2vh;
    font-family: MullerBold; /* ✅ Используем кастомный шрифт */
    white-space: nowrap; /* ✅ Запрещаем перенос текста */
    color: #FFFFFF;
    margin-left: 3.7vh;
    margin-top: 3.4vh;
    align-self: flex-start;
}

.info-about-friends-block {
    position: relative;
    display: flex;
    align-items: center;
    align-self: start;
    justify-content: center;
  
    background: rgba(32, 32, 32, 0.5);
    border: 1px solid rgba(165, 165, 165, 1);
    border-radius: 2.22vh;
  
    width: 90%;
    left: 5%;
    height: 17.7%;
    margin-top: 1.15vh;
}

.info-about-friends-block-nameText2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    overflow: visible;
}

.info-about-friends-block-nameText2 h2 {
    font-size: 1.9vh;
    margin: 0;
    font-family: "REDOB trial", sans-serif; /* ✅ Используем кастомный шрифт */
    white-space: nowrap; /* ✅ Запрещаем перенос текста */
    color: #FFFFFF;
}

.info-section-friend-eclipse-block {
    width: 90%;
    margin-left: 0.6vh;
    height: 16.3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.friend-eclipse {
    height: 100%;
    width: 20%;
    background: rgba(242, 234, 1, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.8vh;
}