.profile-container {
    width: 100vw;
    height: 100vh;
    background: url("../assets/background.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .logo {
    position: absolute;
    top: 2vh;
    left: 2vw;
    width: 10vw;
    max-width: 100px;
    height: auto;
  }
  
  .content {
    color: white;
    text-align: center;
    font-size: 3vh;
  }