/* ✅ Глобальные настройки */
* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body {
margin: 0;
width: 100%;
height: 100vh;
position: fixed;
overflow: hidden; 
isolation: isolate;
}

.App {
  margin: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  text-align: center;
  flex-direction: column;
  background: #000000;
  color: white;
  font-family: Muller;
  font-size: 2.2vh ;
}

.App p{
  margin: 0;
}

.ONEXs_Window{
  width: 100%;
  height: 90%;
  position: fixed;
  flex-direction: column;
  top: 0;
  color: white;
  z-index: 1001;
  animation: fade-in 0.3s forwards;
}

.Header{
  height: 7.5%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.HeaderLogoContainer{
  height: 100%;
  margin-left: 2.5vh;
  margin-top: 0.5vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.HeaderButtonsContainer{
  height: 100%;
  margin-right: 1.7vh;
  margin-top: 0.5vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.headerlogo {
  height: 60%;
  margin: 0vh; 
}

.headerConnectWalletConnected { 
  
  height: 55%;
  margin: 1.6vh 1vh 1vh 0.5vh; 

}

.headerButtonPartners { 
  
  height: 55%;
  margin: 1.6vh 0.5vh 1vh 1vh; 

}

.mainProfilePageContainer {

  height: 89.5%;
  width: 100%;
  margin-top: 2.5vh;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: url('../assets/backgroundProfileBorder.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 39.58px 39.58px 0 0;

}

.info-profile-block {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  align-self: start;
  justify-content: flex-start;
  background: rgba(32, 32, 32, 0.5);
  border: 1px solid rgba(0, 0, 0, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 39.58px;
  position: relative;
  width: 95%;
  left: 2.5%;
  height: 27.6%;
  margin-top: 1vh;
}

.info-profile-nameText55 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  width: 55%;
  overflow: visible;
}

.rectangle-info-profile {
  display: flex;
  flex-direction: column;
  margin-right: 8%;
  margin-top: 2.5vh;
  align-items: flex-end;
  justify-content: space-between;
  height: 28.1%;
  width: 76.1%;
  overflow: visible;
}

.rectangle-for-buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
  align-items: center;
  justify-content: space-between;
  height: 16.5%;
  width: 85.2%;
  overflow: visible;
}



.rectangle-info-profile h2 {
  height: 57%;
  width: 100%;
  overflow: visible;
  display: flex;
  justify-content: flex-start;
  font-size: clamp(3.4vh, 3.4vw,4.17vh);
  margin: 0;
  font-family: MullerMedium; /* ✅ Используем кастомный шрифт */
  white-space: nowrap; /* ✅ Запрещаем перенос текста */
  color: #FFFFFF;
  gap: 0.8vh;
  align-items: center;
  flex-shrink: 1; /* Позволяет тексту уменьшаться */
}

.rectangle-info-profile img {
  height: 73%;
  overflow: hidden;
  margin-bottom: 0.1vh;
}

.buttons-icons {
  height: 35%;
  overflow: hidden;
  margin-bottom: 0.1vh;
}

.dollar-icon {
  height: 86%;
  overflow: hidden;
  margin-bottom: 0;
  margin-right: 1.4vh;
}

.rectangle-info-profile p {
  height: 25.5%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  font-family: "MullerLight", sans-serif; /* ✅ Используем кастомный шрифт */
  font-size: 1.5vh;
  white-space: nowrap;
  gap: 0.3vh;
  align-items: center;
}

.info-profile-nameText45 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  width: 45%;
  overflow: visible;
}

.info-profile-nameText45 h2 {
  font-size: 1.35vh;
  font-family: MullerLight; /* ✅ Используем кастомный шрифт */
  white-space: nowrap; /* ✅ Запрещаем перенос текста */
  color: #FFFFFF;
  margin-right: 3vh;
}

.info-profile-nameText30 p {
  font-family: "MullerLight", sans-serif; /* ✅ Используем кастомный шрифт */
  font-size: 0.7vh;
  white-space: nowrap;
}

.rectangle-info-profile-ton {
  background-color: #FFFFFF;
  color: #0D0D0D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35); /* ✅ Добавляем тень */
  height: 95%;
  width: 8vh;
  font-size: clamp(1.2vh, 2.5vw, 2vh);
  font-family: MullerMedium;
  border-radius: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3vh;
}

.rectangle-buttons-depo {
  background-color: #FFFFFF;
  color: #0D0D0D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  height: 95%;
  width: 45.2%;
  font-size: clamp(1.35vh, 2.5vw, 2vh);
  font-family: MullerMedium;
  border-radius: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6vh;
}

.rectangle-buttons-with {
  background-color: #FFFFFF;
  color: #0D0D0D;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35); /* ✅ Добавляем тень */
  height: 95%;
  width: 50%;
  font-size: clamp(1.35vh, 2.5vw, 2vh);
  font-family: MullerMedium;
  border-radius: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6vh;
}

@font-face {
  font-family: 'MullerMedium';
  src: url('/assets/fonts/MullerMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} 