.profile-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("/assets/profile-bg.jpg") no-repeat center center fixed;
    background-size: cover;
  }