.tasks {
    height: 100vh;
    width: 100vw;
    background: url("../assets/tasks-bd.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vh 5vw;
    text-align: center;
  }
  
  h1 {
    font-size: 5vw;
    margin-bottom: 2vh;
  }
  
  p {
    font-size: 2.5vw;
  }